# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/prediberg

# Backend
PORT=3001
CORS_ORIGIN=http://localhost:3000

# Frontend
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
NEXT_PUBLIC_ADMIN_WALLET=                          # Your team's admin wallet public key

# Oracle (AI Judge)
ORACLE_PRIVATE_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
